@import "variables";
@import "mixins";

.excel__table{
    position: absolute;
    top: $header-height + $toolbar_height + $formula_height;
    left: 0;
    right: 0;
    overflow-x: auto;
    padding-bottom: 2px;

    & .row{
        display: flex;
        flex-direction: row;
        min-height: 20px;
        height: $row-height;
    }

    & .row-info{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $infocellwidth;
        height: 100%;
        border: 1px solid $greyBroder;
        background-color: #f8f9fa;
        border-top: none;
    }

    .row-data{
        display: flex;
    }

    .column{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f8f9fa;
        min-width: 40px;
        width: $cell-width;
        border: 1px solid $greyBroder;
        border-top: 0;
        height: 100%;
        border-left: 0;
    }

    .cell{
        min-width: 40px;
        padding: 5px;
        width: $cell-width;
        height: 100%;
        border: 1px solid #b4b6b6;
        border-top: 0;
        border-left: 0;
        color: #111;
        white-space: nowrap;
        outline: none;
    }

}